<ul>
    <li class="elector-wrapper closed">
        <div class="summary">
            <div class="toggle">
                <a href="#"><i class="material-icons">expand_more</i></a>
            </div>
            <div class="content">
                <div class="image">
                    <div class="photo"></div>
                </div>
                <div class="details">
                    <div class="elector"></div>
                </div>
                <div class="abuse-reported animated shake">
                    <a href="javascript:void(0)" onclick="appWidget.notifyReportedAbuse(event)">
                        <i class="material-icons">notifications_active</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <div class="button-wrapper">
                <a href="#" class="button email" rel="noopener">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="#" class="button phone" rel="noopener">
                    <i class="fa fa-phone"></i>
                </a>
                <a href="#" class="button twitter" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="button facebook" target="_blank" rel="noopener">
                    <i class="fa fa-facebook-official"></i>
                </a>
            </div>
        </div>
    </li>
</ul>