<div class="modal animated fadeIn">
    <div class="close-modal">
        <a href="#" class="close-modal-button">
            <i class="material-icons">cancel</i>
        </a>
    </div>
    <div class="modal-content"><h1 class="modal-header"></h1><ul class="electors"></ul></div>
</div>

<h1>We can <span>still</span> stop Trump</h1>
<h2>We have until <strong>December 19th</strong> to convince <strong>38</strong> of Trump's <strong>306</strong> electors to <strong>vote for Clinton</strong><span> to elect her as President</span>.</h2>

<div class="map">
    <div class="row row-1">
        <div class="block block-1 empty"></div>
        <div class="block block-2 empty"></div>
        <div class="block block-3 empty"></div>
        <div class="block block-4 empty"></div>
        <div class="block block-5 empty"></div>
        <div class="block block-6 empty"></div>
        <div class="block block-7 empty"></div>
        <div class="block block-8 empty"></div>
        <div class="block block-9 empty"></div>
        <div class="block block-10 empty"></div>
        <div class="block block-11 empty"></div>
        <div class="block block-12">
            <a href="#" class="state democrat-light" id="state-me" data-code="ME" data-party="democrat" data-state="Maine">ME</a>
        </div>
    </div>
    <div class="row row-2">
        <div class="block block-1 empty"></div>
        <div class="block block-2 empty"></div>
        <div class="block block-3 empty"></div>
        <div class="block block-4 empty"></div>
        <div class="block block-5 empty"></div>
        <div class="block block-6 empty"></div>
        <div class="block block-7">
            <a href="#" class="state republican" id="state-wi" data-code="WI" data-party="republican" data-state="Wisconsin">WI</a>
        </div>
        <div class="block block-8 empty"></div>
        <div class="block block-9 empty"></div>
        <div class="block block-10 empty"></div>
        <div class="block block-11">
            <a href="#" class="state democrat-light" id="state-vt" data-code="VT" data-party="democrat" data-state="Vermont">VT</a>
        </div>
        <div class="block block-12">
            <a href="#" class="state democrat-light" id="state-nh" data-code="NH" data-party="democrat" data-state="New Hampshire">NH</a>
        </div>
    </div>
    <div class="row row-3">
        <div class="block block-1 empty"></div>
        <div class="block block-2">
            <a href="#" class="state democrat-light" id="state-wa" data-code="WA" data-party="democrat" data-state="Washington">WA</a>
        </div>
        <div class="block block-3">
            <a href="#" class="state republican" id="state-id" data-code="ID" data-party="republican" data-state="Idaho">ID</a>
        </div>
        <div class="block block-4">
            <a href="#" class="state republican" id="state-mt" data-code="MT" data-party="republican" data-state="Montana">MT</a>
        </div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-nd" data-code="ND" data-party="republican" data-state="North Dakota">ND</a>
        </div>
        <div class="block block-6">
            <a href="#" class="state democrat-light" id="state-mn" data-code="MN" data-party="democrat" data-state="Minnesota">MN</a>
        </div>
        <div class="block block-7">
            <a href="#" class="state democrat-light" id="state-il" data-code="IL" data-party="democrat" data-state="Illinois">IL</a>
        </div>
        <div class="block block-8">
            <a href="#" class="state republican" id="state-m1" data-code="MI" data-party="republican" data-state="Michigan">MI</a>
        </div>
        <div class="block block-9 empty"></div>
        <div class="block block-10">
            <a href="#" class="state democrat-light" id="state-ny" data-code="NY" data-party="democrat" data-state="New York">NY</a>
        </div>
        <div class="block block-11">
            <a href="#" class="state democrat-light" id="state-ma" data-code="MA" data-party="democrat" data-state="Massachusetts">MA</a>
        </div>
        <div class="block block-12 empty"></div>
    </div>
    <div class="row row-4">
        <div class="block block-1 empty"></div>
        <div class="block block-2">
            <a href="#" class="state democrat-light" id="state-or" data-code="OR" data-party="democrat" data-state="Oregon">OR</a>
        </div>
        <div class="block block-3">
            <a href="#" class="state democrat-light" id="state-nv" data-code="NV" data-party="democrat" data-state="Nevada">NV</a>
        </div>
        <div class="block block-4">
            <a href="#" class="state republican" id="state-wy" data-code="WY" data-party="republican" data-state="Wyoming">WY</a>
        </div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-sd" data-code="SD" data-party="republican" data-state="South Dakota">SD</a>
        </div>
        <div class="block block-6">
            <a href="#" class="state republican" id="state-ia" data-code="IA" data-party="republican" data-state="Iowa">IA</a>
        </div>
        <div class="block block-7">
            <a href="#" class="state republican" id="state-in" data-code="IN" data-party="republican" data-state="Indiana">IN</a>
        </div>
        <div class="block block-8">
            <a href="#" class="state republican" id="state-oh" data-code="OH" data-party="republican" data-state="Ohio">OH</a>
        </div>
        <div class="block block-9">
            <a href="#" class="state republican" id="state-pa" data-code="PA" data-party="republican" data-state="Pennsylvania">PA</a>
        </div>
        <div class="block block-10">
            <a href="#" class="state democrat-light" id="state-nj" data-code="NJ" data-party="democrat" data-state="New Jersey">NJ</a>
        </div>
        <div class="block block-11">
            <a href="#" class="state democrat-light" id="state-ct" data-code="CT" data-party="democrat" data-state="Connecticut">CT</a>
        </div>
        <div class="block block-12">
            <a href="#" class="state democrat-light" id="state-ri" data-code="RI" data-party="democrat" data-state="Rhode Island">RI</a>
        </div>
    </div>
    <div class="row row-5">
        <div class="block block-1 empty"></div>
        <div class="block block-2">
            <a href="#" class="state democrat-light" id="state-ca" data-code="CA" data-party="democrat" data-state="California">CA</a>
        </div>
        <div class="block block-3">
            <a href="#" class="state republican" id="state-ut" data-code="UT" data-party="republican" data-state="Utah">UT</a>
        </div>
        <div class="block block-4">
            <a href="#" class="state democrat-light" id="state-co" data-code="CO" data-party="democrat" data-state="Colorado">CO</a>
        </div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-ne" data-code="NE" data-party="republican" data-state="Nebraska">NE</a>
        </div>
        <div class="block block-6">
            <a href="#" class="state republican" id="state-mo" data-code="MO" data-party="republican" data-state="Missouri">MO</a>
        </div>
        <div class="block block-7">
            <a href="#" class="state republican" id="state-ky" data-code="KY" data-party="republican" data-state="Kentucky">KY</a>
        </div>
        <div class="block block-8">
            <a href="#" class="state republican" id="state-wv" data-code="WV" data-party="republican" data-state="West Virginia">WV</a>
        </div>
        <div class="block block-9">
            <a href="#" class="state democrat-light" id="state-va" data-code="VA" data-party="democrat" data-state="Virginia">VA</a>
        </div>
        <div class="block block-10">
            <a href="#" class="state democrat-light" id="state-md" data-code="MD" data-party="democrat" data-state="Maryland">MD</a>
        </div>
        <div class="block block-11">
            <a href="#" class="state democrat-light" id="state-de" data-code="DE" data-party="democrat" data-state="Delaware">DE</a>
        </div>
        <div class="block block-12 empty"></div>
    </div>
    <div class="row row-6">
        <div class="block block-1 empty"></div>
        <div class="block block-2 empty"></div>
        <div class="block block-3">
            <a href="#" class="state republican" id="state-az" data-code="AZ" data-party="republican" data-state="Arizona">AZ</a>
        </div>
        <div class="block block-4">
            <a href="#" class="state democrat-light" id="state-nm" data-code="NM" data-party="democrat" data-state="New Mexico">NM</a>
        </div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-ks" data-code="KS" data-party="republican" data-state="Kansas">KS</a>
        </div>
        <div class="block block-6">
            <a href="#" class="state republican" id="state-ar" data-code="AR" data-party="republican" data-state="Arkansas">AR</a>
        </div>
        <div class="block block-7">
            <a href="#" class="state republican" id="state-tn" data-code="TN" data-party="republican" data-state="Tennessee">TN</a>
        </div>
        <div class="block block-8">
            <a href="#" class="state republican" id="state-nc" data-code="NC" data-party="republican" data-state="North Carolina">NC</a>
        </div>
        <div class="block block-9">
            <a href="#" class="state republican" id="state-sc" data-code="SC" data-party="republican" data-state="South Carolina">SC</a>
        </div>
        <div class="block block-10 empty"></div>
        <div class="block block-11 empty"></div>
        <div class="block block-12 empty"></div>
    </div>
    <div class="row row-7">
        <div class="block block-1 empty"></div>
        <div class="block block-2 empty"></div>
        <div class="block block-3 empty"></div>
        <div class="block block-4 empty"></div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-ok" data-code="OK" data-party="republican" data-state="Oklahoma">OK</a>
        </div>
        <div class="block block-6">
            <a href="#" class="state republican" id="state-la" data-code="LA" data-party="republican" data-state="Louisiana">LA</a>
        </div>
        <div class="block block-7">
            <a href="#" class="state republican" id="state-ms" data-code="MS" data-party="republican" data-state="Mississippi">MS</a>
        </div>
        <div class="block block-8">
            <a href="#" class="state republican" id="state-al" data-code="AL" data-party="republican" data-state="Alabama">AL</a>
        </div>
        <div class="block block-9">
            <a href="#" class="state republican" id="state-ga" data-code="GA" data-party="republican" data-state="Georgia">GA</a>
        </div>
        <div class="block block-10 empty"></div>
        <div class="block block-11 empty"></div>
        <div class="block block-12 empty"></div>
    </div>
    <div class="row row-8">
        <div class="block block-1">
            <a href="#" class="state democrat-light" id="state-hi" data-code="HI" data-party="democrat" data-state="Hawaii">HI</a>
        </div>
        <div class="block block-2">
            <a href="#" class="state republican" id="state-ak" data-code="AK" data-party="republican" data-state="Alaska">AK</a>
        </div>
        <div class="block block-3 empty"></div>
        <div class="block block-4 empty"></div>
        <div class="block block-5">
            <a href="#" class="state republican" id="state-tx" data-code="TX" data-party="republican" data-state="Texas">TX</a>
        </div>
        <div class="block block-6 empty"></div>
        <div class="block block-7 empty"></div>
        <div class="block block-8 empty"></div>
        <div class="block block-9 empty"></div>
        <div class="block block-10">
            <a href="#" class="state republican" id="state-fl" data-code="FL" data-party="republican" data-state="Florida">FL</a>
        </div>
        <div class="block block-11 empty"></div>
        <div class="block block-12 empty"></div>
    </div>
</div>

<div class="state-selection animated slideInUp">
    <div class="message">
        <i class="material-icons animated fadeInUp">keyboard_arrow_up</i>
        Select a <strong>Red</strong> State <span>to Get Started</span>
        <i class="material-icons animated fadeInUp">keyboard_arrow_up</i>
    </div>
</div>

<small class="powered-by"><span>Powered by </span><a href="https://makedemocracymatter.org/" target="_blank">Make Democracy Matter</a></small>

<a class="add-to-site" href="https://github.com/campaignzero/electoral-college-widget/blob/master/README.md" target="_blank">Add <span>this</span> to <span>your</span> site</a>